<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Units</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pears</td>
            <td><input class="form-control" type="text" value='6'></td>
            <td>Each</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Apples</td>
            <td><input class="form-control" type="text" value='6'></td>
            <td>Each</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Flour</td>
            <td><input class="form-control" type="text" value='6'></td>
            <td>Ounces</td>
        </tr>

        <tr>

           <td><input class="btn btn-primary" type="submit" value="Submit"></td>

        </tr>

    </tbody>

</table>