
<script>


    $(function() {

            $('#pantryTab').removeClass('link');
            $('#pantryTab').addClass('active');
            $('#addTab').removeClass('active');
            $('#addTab').addClass('link');
            $('#editTab').removeClass('active');
            $('#editTab').addClass('link');

    });



</script>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Food Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Units</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pears</td>
            <td>4</td>
            <td>Each</td>
        </tr>
    </tbody>
</table>