
<script>


    $(function() {

            $('#pantryTab').removeClass('link');
            $('#pantryTab').addClass('active');
            $('#addTab').removeClass('active');
            $('#addTab').addClass('link');
            $('#editTab').removeClass('active');
            $('#editTab').addClass('link');

    });



</script>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Food Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Par</th>
            <th scope="col">Units</th>
        </tr>
    </thead>
    <tbody>
        {{#each pantryEntries}}
        <tr>
            <td>{{Ingredient.name}}</td>
            <td>{{quantity}}</td>
            <td>{{par}}</td>
            <td>{{measurement_unit}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>