<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Recipe Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Name</td>
            <td><button type="button" class="btn btn-info">view</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Name</td>
            <td><button type="button" class="btn btn-info">view</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Name</td>
            <td><button type="button" class="btn btn-info">view</button></td>
        </tr>
    </tbody>

</table>