<!doctype html>
<html lang="en">

<head>
  <title>Perfect Pantry</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href="/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Raleway&display=swap" rel="stylesheet">  
  <link rel='stylesheet' href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css">

</head>

  <body>

    <nav id='navBarBody' class="navbar navbar-expand-lg navbar-light">

      <a id='navBarLogoText' class="navbar-brand" href="/?mode=home">Perfect Pantry</a>

      <button id='navBarButton' class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse show justify-content-end navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/?mode=home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              My Pantry
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id='navBarViewPantry' class="dropdown-item" href="/pantry?mode=view">View</a>
              <a id='navBarEditPantry' class="dropdown-item" href="/pantry?mode=edit">Edit</a>
              <a id='navBarAddPantry' class="dropdown-item" href="/pantry?mode=add">Add</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Recipes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/recipes?mode=view">View My Recipes</a>
              <a class="dropdown-item" href="/recipes?mode=add">Add a New Recipe</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <br><br>




      {{!-- Triple curly braces here is where all of our .handlebars will be rendered--}}
   {{{ body }}}



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src='/js/navbar.js'></script>
  </body>

</html>