<!doctype html>
<html lang="en">

<head>
  <title>Perfect Pantry</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href="/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Raleway&display=swap" rel="stylesheet">  
  <link rel='stylesheet' href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css">

</head>

  <body>

    <nav id='navBarBody' class="navbar navbar-expand-lg navbar-light">

      <a id='navBarLogoText' class="navbar-brand" href="/?mode=home">Perfect Pantry</a>

      <button id='navBarButton' class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse show justify-content-end navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/?mode=home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              My Pantry
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id='navBarViewPantry' class="dropdown-item" href="/pantry?mode=view">View</a>
              <a id='navBarEditPantry' class="dropdown-item" href="/pantry?mode=edit">Edit</a>
              <a id='navBarAddPantry' class="dropdown-item" href="/pantry?mode=add">Add</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Recipes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id = 'navBarViewRecipe' class="dropdown-item" href="/recipes?mode=view">View My Recipes</a>
              <a id = 'navBarAddRecipe' class="dropdown-item" href="/recipes?mode=add">Add a New Recipe</a>
            </div>
          </li>
          <li class="nav-item active" style="display:none" id="logoutButton">
            <a class="nav-link" href="#" onclick="firebaseLogout(); return false;">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <br><br>




      {{!-- Triple curly braces here is where all of our .handlebars will be rendered--}}

        <script type="text/javascript">
      // Initialize Firebase
var config = {
  apiKey: "AIzaSyCldQsxT3jJ6vTnm_xXjtDkc0Ux-PF3q9Y",
  authDomain: "perfectpantry-10a54.firebaseapp.com",
  storageBucket: "perfectpantry-10a54.appspot.com"
};

function addUidToHref(link){
  let newHref = $(link).attr('href') + '&uid=' + localStorage.getItem('uid');
  $(link).attr('href', newHref);
}

firebase.initializeApp(config);
      
      // FirebaseUI config.
      var uiConfig = {
        callbacks: {
    signInSuccessWithAuthResult: function(authResult, redirectUrl) {
      console.log(authResult.user.uid);
      return false;
    }},
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.GoogleAuthProvider.PROVIDER_ID
        ]
      };

      // Initialize the FirebaseUI Widget using Firebase.
      // The start method will wait until the DOM is loaded.
      firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    localStorage.setItem('uid',user.uid);
    if(window.location.href.indexOf('login') >= 0){
      window.location = '/pantry?uid='+user.uid;
    }else{
      $('#logoutButton').show(); 
      addUidToHref($('#navBarViewPantry'));
      addUidToHref($('#navBarEditPantry'));
      addUidToHref($('#navBarAddPantry'));
      addUidToHref($('#navBarAddRecipe'));
      addUidToHref($('#navBarViewRecipe'));
    }
  } else {
    // No user is signed in.
    if(window.location.href.indexOf('login') >= 0){
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      ui.start('#firebaseui-auth-container', uiConfig);
    }
    else{
      window.location = '/login';
    }
  }
});

//function to handle when a user wants to log out
function firebaseLogout(){
  firebase.auth().signOut().then(function() {
  // Sign-out successful.
  localStorage.removeItem('uid');
}, function(error) {
  // An error happened.
});
}

$(function(){
    $("[data-hide]").on("click", function(){
        $(this).closest("." + $(this).attr("data-hide")).hide();
    });
});
    </script>

   {{{ body }}}



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <script src='/js/navbar.js'></script>

  </body>

</html>