<div id='myPantryPartial' class='container'>

    <div id='myPantryCard' class='row col-12'>

        <div class="card text-center vertical-center col-10 offset-1" style='border-style: none;'>

            <a href='/pantry?mode=view'><button id='addItemButton' type="button" class="btn btn-outline-secondary col-12">View Pantry</button></a>

            <br>

            <a href='/pantry?mode=add'><button id='submitPantryAddButton' type="button" class="btn btn-outline-secondary col-12">Add To Pantry</button></a>

            <br>

            <a href='/recipes?mode=view'><button id='addItemButton' type="button" class="btn btn-outline-secondary col-12">View Recipes</button></a>

            <br>

            <a href='/recipes?mode=add'><button id='submitPantryAddButton' type="button" class="btn btn-outline-secondary col-12">Add a New Recipe</button></a>

        </div>

    </div>

</div>