<script>

    // on document load
    $(function () {

        // ajax call to 'pantryTab' 
        // using the 'get' method to return information
        $('#pantryTab').on('click', function () {

            // ajax call to 'pantry-table' 
            // using the 'get' method to return information
            // We will display the 'pantry-table' partial
            $.ajax('pantry-table?uid='+localStorage.getItem('uid'), {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the pantryCardBody
                $('#pantryCardBody').html(response);
                 // Changing the class of the tabs in order to show the desired partial
                $('#pantryTab').removeClass('link');
                $('#pantryTab').addClass('active');
                $('#addTab').removeClass('active');
                $('#addTab').addClass('link');
                $('#editTab').removeClass('active');
                $('#editTab').addClass('link');

            })

            return false;

        });

        // ajax call to 'editTab' 
        // using the 'get' method to return information
        $('#editTab').on('click', function () {

            // ajax call to 'edit-pantry-table' 
            // using the 'get' method to return information
            // We will display the 'edit-pantry-table' partial
            $.ajax('edit-pantry-table?uid='+localStorage.getItem('uid'), {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the pantryCardBody
                $('#pantryCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#pantryTab').removeClass('active');
                $('#pantryTab').addClass('link');
                $('#addTab').removeClass('active');
                $('#addTab').addClass('link');
                $('#editTab').removeClass('link');
                $('#editTab').addClass('active');

            })

            return false;

        });

        // ajax call to 'addTab' 
        // using the 'get' method to return information
        $('#addTab').on('click', function () {

            // ajax call to 'edit-pantry-table' 
            // using the 'get' method to return information
            // We will display the 'edit-pantry-table' partial
            $.ajax('add-to-pantry-table?uid='+localStorage.getItem('uid'), {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the pantryCardBody
                $('#pantryCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#pantryTab').removeClass('active');
                $('#pantryTab').addClass('link');
                $('#addTab').removeClass('link');
                $('#addTab').addClass('active');
                $('#editTab').removeClass('active');
                $('#editTab').addClass('link');

            })

            return false;

        });


    });


</script>



<div id='myPantryPartial' class='container'>

    <div id='myPantryCard' class='row col-12'>

        <div class="card text-center vertical-center col-10 offset-1">

            <div id='pantryTabControl' class="card-header">

                <ul class="nav nav-tabs card-header-tabs">

                    <li class="navTabs nav-item">

                        <a id='pantryTab' class="nav-link" href="#">Pantry</a>

                    </li>

                    <li class="navTabs nav-item">

                        <a id='editTab' class="nav-link" href="#">Edit</a>

                    </li>

                    <li class="navTabs nav-item">

                        <a id='addTab' class="nav-link" href="#">Add</a>

                    </li>

                </ul>

            </div>

            <div id='pantryCardBody' class="card-body">

                {{!-- Using Handlebars to add an if else statement --}}
                {{!-- If the query mode == addView we will show the add-to-pantry-content-table partial --}}
                {{#if addView}}
                {{> add-to-pantry-content-table}}
                {{!-- else if  query mode == edit-view which will display the edit-pantry-content-table--}}
                {{else}}
                    {{#if editView}}
                    {{> edit-pantry-content-table}}
                    {{!-- else we will display the pantry-content-table --}}
                    {{else}}
                     {{> pantry-content-table }}
                    {{/if}}
                {{/if}}


            </div>

        </div>

    </div>

</div>