<script>

    // on document load
    $(function () {

        // .on 'click' function for the recipes tab 
        $('#recipesTab').on('click', function () {
        
            // ajax call to 'recipes-view' 
            // using the 'get' method to return information
            // We will display the 'recipes-view' partial
            $.ajax('recipes-view', {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the recipeCardBody
                $('#recipeCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#recipesTab').removeClass('link');
                $('#recipesTab').addClass('active');
                $('#newRecipeTab').removeClass('active');
                $('#newRecipeTab').addClass('link');

            })

            // Do not reload the page
            return false;

        });

        // .on 'click' function for the recipes tab 
        $('#newRecipeTab').on('click', function () {

            // ajax call to 'recipes-new' 
            // using the 'get' method to return information
            $.ajax('recipes-new', {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the recipeCardBody
                $('#recipeCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#recipesTab').removeClass('active');
                $('#recipesTab').addClass('link');
                $('#newRecipeTab').removeClass('link');
                $('#newRecipeTab').addClass('active');

            })

            return false;

        });


    });


</script>



<div id='recipesPartial' class='container'>

    <div id='recipesCard' class='row col-12'>

        <div class="card text-center vertical-center col-10 offset-1">

            <div id='recipesTabControl' class="card-header">

                <ul class="nav nav-tabs card-header-tabs">

                    <li class="navTabs nav-item">

                        <a id='recipesTab' class="nav-link" href="#">Recipes</a>

                    </li>

                    <li class="navTabs nav-item">

                        <a id='newRecipeTab' class="nav-link" href="#">New Recipe</a>

                    </li>


                </ul>

            </div>

            <div id='recipeCardBody' class="card-body">

                {{!-- Using Handlebars to add an if else statement --}}
                {{!-- If the query mode == addView it will show the new-recipe-content-table partial --}}
                {{#if addView}}
                {{> new-recipe-content-table}}
                {{!-- Else it will show the recipe-content-table --}}
                {{else}}
                {{> recipes-content-table }}
                {{/if}}


            </div>

        </div>

    </div>

</div>