<script>

    // on document load
    $(function () {

        // .on 'click' function for the recipes tab 
        $('#recipesTab').on('click', function () {
        
            // ajax call to 'recipes-view' 
            // using the 'get' method to return information
            // We will display the 'recipes-view' partial
            let uid = localStorage.getItem('uid');
            $.ajax('recipes-view?uid='+uid, {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the recipeCardBody
                $('#recipeCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#recipesTab').removeClass('link');
                $('#recipesTab').addClass('active');
                $('#newRecipeTab').removeClass('active');
                $('#newRecipeTab').addClass('link');

            })

            // Do not reload the page
            return false;

        });

        // .on 'click' function for the recipes tab 
        $('#newRecipeTab').on('click', function () {

            // ajax call to 'recipes-new' 
            // using the 'get' method to return information
            let uid = localStorage.getItem('uid');
            $.ajax('recipes-new?uid='+uid, {

                type: 'GET',

            }).done(function (response) {

                // Passing the response from the ajax call into the html of the recipeCardBody
                $('#recipeCardBody').html(response);
                // Changing the class of the tabs in order to show the desired partial
                $('#recipesTab').removeClass('active');
                $('#recipesTab').addClass('link');
                $('#newRecipeTab').removeClass('link');
                $('#newRecipeTab').addClass('active');

            })

            return false;

        });


    });

    function makeRecipe(recipeId){
        let uid = localStorage.getItem('uid');
        $.ajax('/make-recipe/'+recipeId+'?uid='+uid, {

            type: 'PUT'

        }).done(function (res) {

            console.log(res);
            if(res.success){
                
                $('#recipeMadeAlert').addClass('show');
                
            }else{
                let needToPurchase = res.needToPurchase;
                let purchaseMessage = "<p>You don't have enough of the following ingredients to make this recipe:</p>";

                needToPurchase.forEach(ingredient => {

                    purchaseMessage += '<p>' + ingredient.name + ' - You have ' + ingredient.have + ', but you need '+ ingredient.need +'</p>';

                });
                
                $('#needToPurchase').html(purchaseMessage);
                $('#makeRecipeAlert').addClass('show');
            }


        });
    }

    function removeIngredient(button, recipeId, ingredientId) {
        $.ajax('/recipe/' + recipeId + '/ingredient/' + ingredientId, {

            type: 'DELETE'

        }).done(function () {

            console.log('Item Was Deleted');
            $(button).parent().parent().remove();

        });
    }

    function removeRow(button) {
        $(button).parent().parent().remove();
    }

        let newIngredientRow =
            `<tr class='addRecipeEdit'>
                    <td><input class="ingredientName form-control" type="text" value='Name'></td>
                    <td><input class="editRecipeQuantityInput form-control" type="text" value='#'></td>
                    <td>
                        <div class="form-group">
                            <select class="editRecipeMeasurementSelector form-control" id="exampleFormControlSelect1">
                                <option>Each</option>
                                <option>Ounces</option>
                                <option>Pounds</option>
                                <option>Cups</option>
                                <option>Fl. Ounces</option>
                            </select>
                        </div>
                    </td>
                    <td><button onclick="removeRow(this); return false;" type="button" class="removeIngredientButton btn btn-outline-danger">x</button></td>                
        </tr>`



        function saveRecipeChanges(){
            console.log("inside the on click");

            let recipeId = $('#recipeId').val();
            let newRecipeIngredientList = [];
            $('.addRecipeEdit').each(function () {
                let ingredientName = $(this).find('.ingredientName').text().toLowerCase();
                if (ingredientName.length == 0) {
                    ingredientName = $(this).find('.ingredientName').val().toLowerCase();
                };
                let ingredientId = $(this).find('.ingredientId').val();
                let editRecipeQuantity = $(this).find('.editRecipeQuantityInput').val().trim().toLowerCase();
                let editRecipeMeasurement = $(this).find('.editRecipeMeasurementSelector').val().trim().toLowerCase();

                let recipeEditDetails = {

                    item_name: ingredientName,
                    item_quantity: editRecipeQuantity,
                    measurement_unit: editRecipeMeasurement,
                    ingredient_id: ingredientId

                };
                newRecipeIngredientList.push(recipeEditDetails);

                let recipeEditData = {
                    recipe_id: recipeId,
                    items: newRecipeIngredientList

                };

                console.log(recipeEditData);

                $.ajax('recipe-edit/' + recipeId, {

                    type: 'PUT',
                    data: recipeEditData


                }).done(function () {

                    window.location = '/recipes?uid='+localStorage.getItem('uid');

                });




            });

    };

    function addIngredient(){

            $('.editRecipeInput').append(newIngredientRow);

        };


</script>



<div id='recipesPartial' class='container'>

    <div id='recipesCard' class='row col-12'>

        <div class="card text-center vertical-center col-10 offset-1">

            <div id='recipesTabControl' class="card-header">

                <ul class="nav nav-tabs card-header-tabs">

                    <li class="navTabs nav-item">

                        <a id='recipesTab' class="nav-link" href="#">Recipes</a>

                    </li>

                    <li class="navTabs nav-item">

                        <a id='newRecipeTab' class="nav-link" href="#">New Recipe</a>

                    </li>


                </ul>

            </div>

            <div id='recipeCardBody' class="card-body">

                {{!-- Using Handlebars to add an if else statement --}}
                {{!-- If the query mode == addView it will show the new-recipe-content-table partial --}}
                {{#if addView}}
                {{> new-recipe-content-table}}
                {{!-- Else it will show the recipe-content-table --}}
                {{else}}
                {{> recipes-content-table }}
                {{/if}}


            </div>

        </div>

    </div>

</div>