body {

    background-color: pink;

}
/* Nav Bar Styling */
/* --------------- */
#navBarBody {

    background-color: transparent;
    color: #243119;
    font-family: 'Raleway', sans-serif;
    display: flex!important;

}
#navBarLogoText {

    color: #4a6d7c;
    font-size: 30px;
    font-family: 'Cutive Mono', monospace;

}
#navBarButton {

    border-color: #243119;

}

/* Body Styling */
/* ------------ */

.container {

    border-radius: 2px;
    font-family: 'Raleway', sans-serif;

}

/* My Pantry Partial Styling */
/* ------------------------- */

#myPantryPartial #recipesPartial {

    background-color: green;

}
#myPantryCard #recipesCard {

    padding: 10px;

}
#pantryTabControl #recipesTabControl {

    background-color: white;

}

/* Alert Styling */
/* ------------- */

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}